
.lightTheme {
    --back: #FFFFFF;
    --text: #000000;
    --hover: #E8E8E8;
    --activityText: #666666;
    --gear: .4;
}

.darkTheme {
    --back: #000000;
    --text: #DDDDDD;
    --hover: #222222;
    --activityText: #999999;
    --gear: .8;
}

body {
    width: 225px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--back);
    color: var(--text);
}

.title {
    font-size: 85%;
    color: #888888;
    margin-bottom: 15px;
}

.gear {
    display:inline-block;
    width: 55px;
    height: 35px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.gear:hover {
    background-color: var(--hover);
}

.gearImg {
    filter: brightness(var(--gear));
    height: 50%;
    width: auto;
    position: absolute;
    top: 7px;
    right: 16px;
}

.channels {
    margin-bottom: 10px;
}

.channel, .button {
    height: 40px;
    text-align: left;
}

.button {
    cursor: pointer;
}

.button:hover {
    background-color: var(--hover);
}

.innerText {
    float: left;
    margin-left: 10px;
    margin-top: 6px;
    line-height: 15px;
    font-size: 85%;
    width: 115px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userName {
    font-weight: bold;
}

.activityName {
    color: var(--activityText);
}

.leftText {
    line-height: 40px;
    margin-left: 10px;
    float: left;
    font-size: 85%;
}

.rightText {
    line-height: 40px;
    margin-right: 10px;
    float: right;
    font-size: 85%;
}

.errorText {
    display: none;
    margin-bottom: 10px;
    text-align: left;
    color: #BB0000;
}

.noDisplay {
    display: none;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
}

.offline {
    filter: grayscale(100%);
}

.loader {
    margin-left: 90px;
    margin-bottom: 10px;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
