
.lightScheme {
    --back: #FFFFFF;
    --text: #000000;
    --hover: #E8E8E8;
    --activityText: #666666;
    --gear: .4;
}

.darkScheme {
    --back: #000000;
    --text: #DDDDDD;
    --hover: #222222;
    --activityText: #999999;
    --gear: .8;
}

@font-face {
  font-family: texgyreheros;
  src: url(fonts/texgyreheros-regular.woff);
}

@font-face {
  font-family: texgyreheros;
  src: url(fonts/texgyreheros-bold.woff);
  font-weight: bold;
}

a {
    all: unset;
}

body {
    width: 225px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--back);
    color: var(--text);
    font-family: texgyreheros;
    font-size: 12px;
}

.title {
    color: #888888;
    margin-bottom: 15px;
}

.gear {
    display: inline-block;
    width: 55px;
    height: 35px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.gear:hover {
    background-color: var(--hover);
}

.gearImg {
    filter: brightness(var(--gear));
    height: 50%;
    width: auto;
    position: absolute;
    top: 7px;
    right: 16px;
}

.error {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #C80000;
    font-size: 16px;
    font-weight: bold;
    transform: scale(1.2,1);
}

.emptyText {
    display: none;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.channel {
    position: relative;
    display: block;
    height: 40px;
    cursor: pointer;
}

.channel:hover {
    background-color: var(--hover);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0px;
}

.offline {
    filter: grayscale(100%);
}

.channelName, .activityName {
    position: absolute;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.channelName {
    top: 2px;
    left: 40px;
    font-weight: bold;
}

.activityName {
    position: absolute;
    top: 18px;
    left: 40px;
    color: var(--activityText);
}

.viewerCount {
    position: absolute;
    top: 2px;
    right: 0px;
}

.agentImage {
    height: 12px;
    width: auto;
    position: absolute;
    bottom: 6px;
    right: 0px;
}

.loader {
    position: absolute;
    top: 6px;
    left: 135px;
    border: 6px solid #f0f0f0; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
